{% for house in house_list %}
<tr >
    <td>
        <p>{{ house.name }}</p> 
    </td>
    <td>
        <p>{{ house.start.month }}/{{house.start.day}}/{{house.start.year}} - {{ house.end.month }}/{{house.end.day}}/{{house.end.year}}</p>
    </td>
</tr>
    <tr  class="c" >
    <td colspan="2" style="border-bottom: initial;"><p>
        Contact: 
        <a href="mailto:{{ house.contact_email }}?Subject=RoomMeet%20Hello"> {{ house.contact_email }} </a>
        <br>
        Description: {{ house.description }}
        <button type="submit" style:"right:10px; z-index:4;" class="btn btn-sm btn-danger" id="{{ house.id }}-remove" onclick="removeList('{{ house.id }}')"> remove </button> </p>
    </td>
</tr>
{% endfor %}


