{% extends 'base.html' %}


{% block lnavitems %} 
<li class="active"><a href="/meet/">Meet</a></li>
<li><a href="/talk/">Talk</a></li>
{% endblock %}


{% block mainpage %}
<div class="row-fluid">
    <div class="well col-md-10">
        {% csrf_token %} 
    	<input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map_canvas"></div>
    </div>
    <div class="col-md-2">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Select Search Radius:</li><br>
                <button type="submit" class="btn" id="5-radius"> 5 miles </button> <br><br>
                <button type="submit" class="btn" id="10-radius"> 10 miles </button> <br> <br>
                <button type="submit" class="btn" id="20-radius"> 20 miles </button> <br> <br>
                <button type="submit" class="btn" id="50-radius"> 50 miles </button> <br> <br>
                <button type="submit" class="btn" id="no-radius"> No filter </button> <br> <br>

            </ul>
        </div>
    </div>
</div>
{% endblock %}



{% block scriptext %}
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="{{STATIC_URL}}/gmap.js"></script>


{% endblock %}