{% extends 'base.html' %}


{% block lnavitems %} 
<li class="active"><a href="/meet/">Meet</a></li>
<li><a href="/talk/">Talk</a></li>
{% endblock %}



{% block precontainter %}

<style>
.pos_fixed
{
position:fixed;
top:30px;
left:5px;
}
</style>

<div class="pos_fixed">
            Select Search Radius: 
            <button type="submit" class="btn" style="margin: 1% 5%; width: auto" id="5-radius"> 5 miles </button> 
            <button type="submit" class="btn" style="margin: 1% 5%; width: auto" id="10-radius"> 10 miles </button> 
            <button type="submit" class="btn" style="margin: 1% 5%; width: auto" id="20-radius"> 20 miles </button> 
            <button type="submit" class="btn" style="margin: 1% 5%; width: auto" id="50-radius"> 50 miles </button> 
            <button type="submit" class="btn" style="margin: 1% 5%; width: auto" id="no-radius"> No filter </button> 
</div>
{% endblock %}

{% block mainpage %}



<div class="row-fluid">
    <div class="well col-md-12">
        {% csrf_token %} 
    	<input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map_canvas"></div>
    </div>
</div>
{% endblock %}



{% block scriptext %}
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="{{STATIC_URL}}/gmap.js"></script>


{% endblock %}