{% extends 'base.html' %}

{% block headext %}
<style>
    html, body {
        overflow:hidden;
        background-color:rgb(230,230,230);
    }
</style>



<link href="{{STATIC_URL}}/datepicker/css/datepicker.css" rel="stylesheet" type="text/css"/>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

{% endblock %}


{% block lnavitems %}
<li class="active" id="meet_nav"><a  id="meet_toggle">Meet</a></li>
<li id="talk_nav"><a id="talk_toggle">Talk</a></li>
<li id="house_nav"><a id="house_toggle">Housing</a></li>
{% endblock %}



{% block precontainter %}


<div class="navbar navbar-inverse navbar-fixed-bottom" id="bottomnavbar" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class='dropdown-toggle' data-toggle='dropdown'> <div id="rfilter">
          Filter by Radius <b class="caret"></b></div>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#" id="5-radius"> 5 miles </a> </li>
            <li><a href="#" id="10-radius"> 10 miles </a> </li>
            <li><a href="#" id="20-radius"> 20 miles </a> </li>
            <li><a href="#" id="50-radius"> 50 miles </a> </li>
            <li><a href="#" id="no-radius"> World </a> </li>
          </ul>

          </li>
        <li class='dropdown'>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <div id="gfilter">
          Filter by Gender <b class="caret"></b></div>
          </a>
          <ul class="dropdown-menu">
            <li><a id="gen_male"> Male </a></li>
            <li><a id="gen_female"> Female </a></li>
            <li><a id="gen_either"> Either </a></li>
          </ul>
        </li>

        <li class='dropdown'>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <div id="yfilter">
          Filter by Class Year <b class="caret"></b></div>
          </a>
          <ul class="dropdown-menu">
            <li><a id="cyear_17"> 2017 </a></li>
            <li><a id="cyear_16"> 2016 </a></li>
            <li><a id="cyear_15"> 2015 </a></li>
            <li><a id="cyear_14"> 2014 </a></li>
            <li><a id="cyear_none"> All </a></li>

          </ul>
        </li>

        <li class='dropdown'>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <div id="dfilter">
          Filter by Date Overlap <b class="caret"></b> </div>
          </a>
          <ul class="dropdown-menu">
            <li><a id="olap_month"> At least a Month </a></li>
            <li><a id="olap_wk"> At least a Week </a></li>
            <li><a id="olap_on"> Any </a></li>
            <li><a id="olap_off"> Off </a></li>

          </ul>
        </li>


      </ul>
      </div>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</div>


<div>
{% csrf_token %}
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map_canvas"></div>
<style>
.pos_fixed
{
position:fixed;
bottom:30px;
left:60px;
right:60px;
z-index:10;
color: #000000;
background-color: rgba(135, 135, 235, 0.80);
}
#map_canvas
{
    position:fixed;
    z-index:2;

}
#profilebox
{
    position:fixed;
    left:-500px;
    top:70px;
    z-index:1;
    overflow:auto;
    height: -o-calc(100%- 130px); /* opera */
    height: -webkit-calc(100% - 130px); /* google, safari */
    height: -moz-calc(100% - 130px); /* firefox */
}
#topnavbar
{
    z-index: 10;
}

</style>

<style>
.talkbox {
  color:#c2c2c2;
  position:fixed;
  right:-500px;
  top:65px;
  height: -o-calc(100%- 130px); /* opera */
  height: -webkit-calc(100% - 130px); /* google, safari */
  height: -moz-calc(100% - 130px); /* firefox */
  overflow:auto;
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  z-index:3;
  background: url('{{STATIC_URL}}/datepicker/img/darkdenim3.png') repeat 0 0 #555;


}


.housebox {
  color:#c2c2c2;
  position:fixed;
  right:-500px;
  top:65px;
  height: -o-calc(100%- 130px); /* opera */
  height: -webkit-calc(100% - 130px); /* google, safari */
  height: -moz-calc(100% - 130px); /* firefox */
  overflow:auto;
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  z-index:3;
  background: url('{{STATIC_URL}}/datepicker/img/darkdenim3.png') repeat 0 0 #555;


}


.addhousebox {
  color:#c2c2c2;
  position:fixed;
  right:-500px;
  top:65px;
  height: -o-calc(100%- 130px); /* opera */
  height: -webkit-calc(100% - 130px); /* google, safari */
  height: -moz-calc(100% - 130px); /* firefox */
  overflow:auto;
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  z-index:3;
  background: url('{{STATIC_URL}}/datepicker/img/darkdenim3.png') repeat 0 0 #555;


}

.managehousebox {
  color:#c2c2c2;
  position:fixed;
  right:-500px;
  top:65px;
  height: -o-calc(100%- 130px); /* opera */
  height: -webkit-calc(100% - 130px); /* google, safari */
  height: -moz-calc(100% - 130px); /* firefox */
  overflow:auto;
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  z-index:3;
  background: url('{{STATIC_URL}}/datepicker/img/darkdenim3.png') repeat 0 0 #555;


}


.panel-title {
    font-size: 100%;
}
</style>

<div id="profilebox">

    {% include 'profile.html' %}
</div>
<style type="text/css">
    table{ 
      width: 75%;
     }
     td {
        border:hidden;
     }



</style>

<div id="talk-box" class="talkbox">
<table id="talk-table" class="table">
  <caption>Click entries for contact information</caption>
    <thead id='talk-head'>
        <tr>
            <th>
                Name
            </th>
            <th>
                Year
            </th>
            <th>
                Dates
            </th>
            <th>
                Distance (mi)
            </th>
        </tr>
    </thead>
    <tbody id="friendList">
        {% include "tablefill.html" %}
    </tbody>

</table>

</div>

<div id="house-box" class="housebox">
<table id="my-house-table" class="table" >
  <caption>Places to Live</caption>

    <a id="add_house_toggle" class="btn btn-primary" style="margin: 2%; width:130px;">Add New House</a>
	<a id="manage_house_toggle" class="btn btn-primary" style="margin: 2%; width:200px;">Manage My Houses</a>
    <thead id='house-head'>
        <tr>
            <th>
                Contact Name
            </th>
            <th>
                Dates
            </th>
            <th>
                Distance
            </th>
        </tr>
    </thead>
	<tbody id="myHouseList">
		{% include "myhousetablefill.html" %}

    </tbody>

</table>

</div>

<div id="manage-house-box" class="managehousebox">
<table id="manage-house-table" class="table" style="table-layout: fixed; width=100%">
  <caption>Places to Live</caption>
    <a id="add_house_toggle" class="btn btn-primary" style="margin: 2%; width:130px;">Add New House</a>
	<a id="manage_house_toggle" class="btn btn-danger" style="margin: 2%; width:130px;">Close</a>
    <thead id='manage-house-head'>
        <tr>
            <th>
                Contact Name
            </th>
            <th>
                Dates
            </th>
        </tr>
    </thead>
	<tbody id="manageHouseList">
		{% include "managehousetablefill.html" %}
    </tbody>

</table>

</div>

<div id="add-house-box" class="addhousebox">
{% include 'addhouse.html' %}
</div>

<div id="edit-house-box" class="edithousebox">
{% include 'edithouse.html' %}
</div>



{% endblock %}

{% block mainpage %}
{% if firstTime == "True" %}
<div id="first_time" style="display: none; visibility: hidden;"> </div>
{% endif %}
{% endblock %}



{% block scriptext %}

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
<script src="{{STATIC_URL}}/gmap.js"></script>


{% endblock %}
