<form id="pform" action="" method="post",  class="dynamic-form">
	{% for field in form.visible_fields %}
		<div class="fieldWrapper">
                {{ field.errors }}
			{{ field.label_tag }} {{ field }}
		</div> <br>
	{% endfor %}
    {% for hidden in form.hidden_fields %}
        {% if hidden.errors %}
            Please click on the map.
            <br>
        {% endif %}
        {{ hidden }}
    {% endfor %}
	{% csrf_token %}
    <br>
	<input type="submit" class="btn btn-primary" value="Save Changes">
    <a class="btn btn-danger" href="/">Cancel</a>
</form>