{% extends 'base.html' %}


{% block lnavitems %} 
{# active is initial, href = url, >title</a = title #}
<li><a href="/meet/">Meet</a></li>
<li><a href="/talk/">Talk</a></li>
{% endblock %}



{% block mainpage %}
<div class="row-fluid">
    <div class="col-md-4">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Please click on the map where you will be working</li> <br> <br>
                
				{% if form.errors %}
				<p style="color: red;">
					Please correct the error{{ form.errors|pluralize }} below.
				</p>
				{% endif %}

				<form action="" method="post">
					<table>
					{{ form.as_table }}
					</table>
				{% csrf_token %}
					<input type="submit" value="Save" name="_save"> Save Changes >
				</form>
                    <div class="form-actions">
                       <button type="submit" class="btn" value="Cancel" name="_cancel"> Cancel </button>
                    </div>
                </form>

            </ul>
        </div>
    </div>

    <div class="col-md-8">
    	<input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map_canvas"></div>
    </div>
</div>
{% endblock %}



{% block scriptext %}


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="{{STATIC_URL}}/gmap_p.js"></script>


{% endblock %}