{% for person in friend_list %}
<tr>
    <td class="col-md-10">
        {{ person.first_name }}  {{ person.last_name }} {{ person.year }}
    </td>
    <td>
        {{ person.company }}
    </td>
    <td>
        <a href="mailto:{{ person.netid }}@princeton.edu?Subject=RoomMeet%20Hello"> {{ person.netid }}@princeton.edu </a>
    </td>
    <td>
        <button type="submit" class="btn btn-sm btn-danger" id="{{ person.netid }}-remove" onclick="removeList('{{ person.netid }}')"> remove </button> <br><br>
    </td>
</tr>
{% endfor %}