{% for person in friend_list %}
<tr >
    <td>
        <p>{{ person.first_name }}  {{ person.last_name }}</p> 
    </td>
    <td>
        <p>{{ person.year }}</p>      
    </td>
    <td>
        <p>{{ person.start.month }}/{{person.start.day}}/{{person.start.year}} - {{ person.end.month }}/{{person.end.day}}/{{person.end.year}}</p>
    </td>
    <td>
        <p id="talk_dist"> {{person.lat}}</p>  
    </td>
    </tr>
    <tr  class="c" >
    <td colspan="3" style="border-bottom: initial;"><p>
        Company: {{ person.company }} <br>
        Contact: 
        <a href="mailto:{{ person.netid }}@princeton.edu?Subject=RoomMeet%20Hello"> {{ person.netid }}@princeton.edu </a>
        <br>
        Desired: {{ person.desired }}</p>
        </td>
        <td style="border-bottom: initial;"><p><br>
        <button type="submit" style:"right:10px; z-index:4;" class="btn btn-sm btn-danger" id="{{ person.netid }}-remove" onclick="removeList('{{ person.netid }}')"> remove </button> </p>
    </td>
</tr>
{% endfor %}


