{% extends 'base.html' %}

{% block lnavitems %} 
{# active is initial, href = url, >title</a = title #}
<li><a href="/meet/">Meet</a></li>
<li class="active"><a href="/talk/">Talk</a></li>
{% endblock %}



{% block mainpage %}
<div class="row-fluid">
    <div class="col-md-2">
        {% csrf_token %} 
        <div id="map_canvas"></div>
    </div>
    <div class="well col-md-10">
        <div class="row-fluid">
            <div class="well col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-8">
                                Name
                            </th>
                            <th>
                                Company
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Remove
                            </th>
                        </tr>
                    </thead>
                    <tbody id="friendList">
                    {% for person in friend_list %}
                        <tr>
                            <td class="col-md-8">
                                {{ person.first_name }}  {{ person.last_name }}
                            </td>
                            <td>
                                example
                            </td>
                            <td>
                                <a href="mailto:{{ person.netid }}@princeton.edu?Subject=RoomMeet%20Hello"> {{ person.netid }}@princeton.edu </a>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-sm btn-danger" id="{{ person.netid }}-remove" onclick="removeList('{{ person.netid }}')"> remove </button> <br><br>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    
                </table>
            </div>
        </div> 
    </div>
</div>
{% endblock %}



{% block scriptext %}

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="{{STATIC_URL}}/gmap_t.js"></script>


{% endblock %}